fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
slowapi
stripe
groq
google-auth
google-auth-oauthlib
google-api-python-client
pytz
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
email-validator
